.button{
    color:blueviolet;
    background-color: aquamarine;
    width:max-content;
}
.loginButton{
    color:black;
    background-color:rgba(159, 0, 0, 0.374);
    width:max-content;
    padding:5px;
    margin-top:10px;
    margin-left:50px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}
.dogImage{
    width: 5cm;
    height: 5cm;
    margin-left: 0cm;
    margin-top: 3cm;
    float: left;
}
.previousButton{
    color:black;
    background-color:rgba(134, 120, 242, 0.739);
    width:max-content;
    padding:5px;
    margin-top:10px;
    margin-left:50px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}
.loginForm{
    margin-top: 3cm;
    padding: 2px;
    border: 2px solid;
    border-color: blueviolet;
    border-radius: 10px;
    background-color: rgba(137, 42, 226, 0.604);
    width: max-content;
    height: max-content;
    float: left;
}